

.topAligned {
    vertical-align: top;
}
/*
.ui-dialog .ui-dialog-title {
    font-size: 14px !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5)!important;
} 
.ui-dialog .ui-dialog-titlebar {  
    margin: 0px 0px 0px 0px !important;
    background: -webkit-linear-gradient(top, #2196F3 0%,#1565C0 100%) !important;
    
}

.ui-dialog .ui-dialog-titlebar-close{
    position: absolute !important;
    right: 2px !important;
    top: 2px !important;
}*/
/*titulos*/
/*.ui-widget-header{
    background:-webkit-linear-gradient(top, #90CAF9 0%,#64B5F6 100%);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #E3F2FD;
    
}

.ui-datatable .ui-datatable-scrollable-body {
    background: #E3F2FD !important;
}*/
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}

#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    background-color:  #0078AE ;
    color: #ffffff;
}

#bottom {
    position: absolute;
    padding: 0.5%;
    border: none;
    width: 99%;


    color: #EEEEEE;
    background-color: #025a82;
    bottom: 0 !important;
    bottom: -1px;
    height: 33px;

}

/*#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 50px;
}*/

/*#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}*/

.center_content {
    position: relative;

    padding: 5px;
}
.ui-menubar,.ui-menu-child,.ui-menu {


    background: #0078ae  !important;

}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: #0078AE !important;
    background: #A5D9EF !important;
}
.ui-widget-content a{
    color: #ffffff !important;
    
}


/*.left_content {

    padding: 5px;
    margin-left: 170px;
}*/


/*
.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
*/


